In [6]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [7]:
dataset = pd.read_csv(r'/Users/munna/VScode/NareshIT-AI/Deep Learning/Tensorflow/Churn_Modelling.csv')

In [8]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values
print(X)
print(y)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
[1 0 1 ... 1 1 0]

In [10]:
dataset.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [11]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [12]:
y

array([1, 0, 1, ..., 1, 1, 0])

In [13]:
# Encoding categorical data
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [14]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [16]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
# ANN Model Building
ann = tf.keras.models.Sequential()

In [18]:
ann.add(tf.keras.layers.Dense(units=6))

In [19]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [20]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [21]:
import tensorflow as tf
print(tf.__version__)

2.20.0

In [22]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [24]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 50)

Epoch 1/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - accuracy: 0.8449 - loss: 0.3625
Epoch 2/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 608us/step - accuracy: 0.8457 - loss: 0.3601
Epoch 3/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - accuracy: 0.8468 - loss: 0.3583
Epoch 4/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 549us/step - accuracy: 0.8500 - loss: 0.3567
Epoch 5/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 609us/step - accuracy: 0.8509 - loss: 0.3554
Epoch 6/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step - accuracy: 0.8529 - loss: 0.3536
Epoch 7/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 583us/step - accuracy: 0.8525 - loss: 0.3529
Epoch 8/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.8540 - loss: 0.3518
Epoch 9/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 657us/step - accuracy: 0.8537 - loss: 0.3510
Epoch 10/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 576us/step - accuracy: 0.8551 - loss: 0.3497
Epoch 11/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 563us/step - accuracy: 0.8560 - loss: 0.3489
Epoch 12/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.8574 - loss: 0.3480
Epoch 13/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 640us/step - accuracy: 0.8576 - loss: 0.3469
Epoch 14/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 888us/step - accuracy: 0.8577 - loss: 0.3467
Epoch 15/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 611us/step - accuracy: 0.8591 - loss: 0.3455
Epoch 16/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 736us/step - accuracy: 0.8589 - loss: 0.3452
Epoch 17/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 757us/step - accuracy: 0.8601 - loss: 0.3446
Epoch 18/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 603us/step - accuracy: 0.8612 - loss: 0.3444
Epoch 19/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.8604 - loss: 0.3437
Epoch 20/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 747us/step - accuracy: 0.8611 - loss: 0.3434
Epoch 21/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 569us/step - accuracy: 0.8609 - loss: 0.3432
Epoch 22/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 597us/step - accuracy: 0.8626 - loss: 0.3432
Epoch 23/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.8620 - loss: 0.3430
Epoch 24/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.8615 - loss: 0.3427
Epoch 25/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 587us/step - accuracy: 0.8609 - loss: 0.3423
Epoch 26/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 604us/step - accuracy: 0.8612 - loss: 0.3423
Epoch 27/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 585us/step - accuracy: 0.8609 - loss: 0.3421
Epoch 28/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - accuracy: 0.8629 - loss: 0.3415
Epoch 29/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - accuracy: 0.8619 - loss: 0.3417
Epoch 30/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 618us/step - accuracy: 0.8630 - loss: 0.3415
Epoch 31/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 578us/step - accuracy: 0.8610 - loss: 0.3417
Epoch 32/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.8616 - loss: 0.3414
Epoch 33/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 779us/step - accuracy: 0.8618 - loss: 0.3411
Epoch 34/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 621us/step - accuracy: 0.8610 - loss: 0.3413
Epoch 35/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 598us/step - accuracy: 0.8606 - loss: 0.3410
Epoch 36/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step - accuracy: 0.8608 - loss: 0.3410
Epoch 37/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 579us/step - accuracy: 0.8620 - loss: 0.3406
Epoch 38/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 562us/step - accuracy: 0.8611 - loss: 0.3409
Epoch 39/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 554us/step - accuracy: 0.8612 - loss: 0.3404
Epoch 40/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 555us/step - accuracy: 0.8618 - loss: 0.3403
Epoch 41/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 606us/step - accuracy: 0.8600 - loss: 0.3405
Epoch 42/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 586us/step - accuracy: 0.8619 - loss: 0.3398
Epoch 43/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 561us/step - accuracy: 0.8625 - loss: 0.3400
Epoch 44/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 556us/step - accuracy: 0.8602 - loss: 0.3404
Epoch 45/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 824us/step - accuracy: 0.8609 - loss: 0.3406
Epoch 46/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 581us/step - accuracy: 0.8625 - loss: 0.3397
Epoch 47/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 567us/step - accuracy: 0.8621 - loss: 0.3398
Epoch 48/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 575us/step - accuracy: 0.8618 - loss: 0.3397
Epoch 49/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 593us/step - accuracy: 0.8616 - loss: 0.3400
Epoch 50/50
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 582us/step - accuracy: 0.8622 - loss: 0.3392